<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>

<ul>
  <% sessions.forEach(function(sessionId) { %>
    <li>
      Session ID: <%= sessionId %> 
      <form action="/admin/revoke/<%= sessionId %>" method="POST">
        <button type="submit">Revoke</button>
      </form>
    </li>
  <% }) %>
</ul>
